<h1>my_order</h1>
<table class = "table" >
  <tr>
    <th>order_id</th>
    <th>title</th>
    <th>payment</th>
  </tr>
 
  <% @orders.each do |order| %>
    <% p=order.carts.first %>
    <% pro=Product.find(p.product_id) %>
    <tr>
      <td><%= order.id %></td>
      <td><%= pro.title %></td>    
      <td> done </td>
      <td><%= link_to "Get PDF", cart_path(order, format: :pdf), target: "_blank" %></td>
    </tr>
  <% end %>
</table>
